<a href="https://colab.research.google.com/github/andreascoclet/Yandex-ML-contest-/blob/main/yandex_costumer_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import tensorflow as tf

# Load the data
data = pd.read_csv('/content/gym_data.csv')
data=data.iloc[:,0:-1]
data=data.drop(['Row','Zipcode','Registration' ], axis=1)
X=data.drop(['Exited'],axis=1)
#data=np.mean(data,axis=1)
# Normalize
X = (X-np.mean(X,axis=0))/np.std(X)
data
#print(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, data['Exited'], test_size=0.2, random_state=42)

In [ ]:
data

,Age,Partner_company,Friend_promo,Contract_period,Lifetime,Class_registration_weekly,Avg_additional_charges_total,Cancellation_freq,Exited
0,37,0,1,6,10,1.06,134.200000,0.01,0
1,32,0,1,12,7,1.54,177.600000,0.07,0
2,29,0,1,6,5,2.15,205.000000,0.28,0
3,76,1,0,6,5,3.10,220.666667,0.39,0
4,24,1,0,1,3,1.00,142.040000,0.12,1
...,...,...,...,...,...,...,...,...,...
8095,46,1,0,1,6,2.05,188.460000,0.07,0
8096,22,0,1,12,2,1.59,226.333333,0.12,0
8097,22,0,1,1,8,2.53,211.333333,0.00,0
8098,33,1,0,12,3,2.56,113.730000,0.00,0
8099,29,1,1,12,8,0.80,219.666667,0.02,0

In [ ]:
X

,Age,Partner_company,Friend_promo,Contract_period,Lifetime,Class_registration_weekly,Avg_additional_charges_total,Cancellation_freq
0,-0.161546,-1.015428,1.014425,-0.185447,2.004498,-0.599385,-0.742309,-0.897816
1,-0.613195,-1.015428,1.014425,1.047149,0.894365,-0.001102,-0.005006,-0.463073
2,-0.884185,-1.015428,1.014425,-0.185447,0.154277,0.759216,0.460480,1.058528
3,3.361320,0.984807,-0.985780,-0.185447,0.154277,1.943318,0.726634,1.855557
4,-1.335834,0.984807,-0.985780,-1.212611,-0.585812,-0.674170,-0.609119,-0.100787
...,...,...,...,...,...,...,...,...
8095,0.651423,0.984807,-0.985780,-1.212611,0.524321,0.634574,0.179490,-0.463073
8096,-1.516494,-1.015428,1.014425,1.047149,-0.955857,0.061219,0.822903,-0.100787
8097,-1.516494,-1.015428,1.014425,-1.212611,1.264410,1.232857,0.568074,-0.970273
8098,-0.522865,0.984807,-0.985780,1.047149,-0.585812,1.270250,-1.090065,-0.970273
8099,-0.884185,0.984807,1.014425,1.047149,1.264410,-0.923455,0.709646,-0.825359

In [ ]:

from sklearn.metrics import f1_score

def f1_metric(y_true, y_pred):
    y_pred = tf.round(y_pred)
    return tf.py_function(f1_score, (y_true, y_pred), tf.float32)

In [ ]:
y_train

5777    1
4511    0
3780    0
5729    1
6218    0
       ..
5226    0
5390    0
860     0
7603    0
7270    0
Name: Exited, Length: 6480, dtype: int64

In [ ]:

l0 = tf.keras.layers.Dense(units=4, input_shape=[8])
l1 = tf.keras.layers.Dense(units=16)
l2 = tf.keras.layers.Dense(units=16)
l3 = tf.keras.layers.Dense(64, activation='relu')
l4 = tf.keras.layers.Dense(2)#,activation='sigmoid')

model = tf.keras.Sequential([l0, l1, l2,l3,l4])
print('\n start *************************\n')
model.compile(optimizer='adam',  loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True) ,metrics=['accuracy'])#,f1_metric])#'accuracy',tf.keras.metrics.Precision(), tf.keras.metrics.Recall()])

history = model.fit(X_train, y_train, epochs=50, verbose=True)

 start *************************

Epoch 1/50
203/203 [==============================] - 7s 4ms/step - loss: 0.2123 - accuracy: 0.9167
Epoch 2/50
203/203 [==============================] - 1s 3ms/step - loss: 0.1131 - accuracy: 0.9546
Epoch 3/50
203/203 [==============================] - 1s 3ms/step - loss: 0.1025 - accuracy: 0.9611
Epoch 4/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0926 - accuracy: 0.9653
Epoch 5/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0828 - accuracy: 0.9701
Epoch 6/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0725 - accuracy: 0.9747
Epoch 7/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0672 - accuracy: 0.9761
Epoch 8/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0631 - accuracy: 0.9778
Epoch 9/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0620 - accuracy: 0.9781
Epoch 10/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0613 - accuracy: 0.9804
Epoch 11/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0594 - accuracy: 0.9796
Epoch 12/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0599 - accuracy: 0.9787
Epoch 13/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0597 - accuracy: 0.9792
Epoch 14/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0597 - accuracy: 0.9781
Epoch 15/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0594 - accuracy: 0.9799
Epoch 16/50
203/203 [==============================] - 1s 4ms/step - loss: 0.0583 - accuracy: 0.9802
Epoch 17/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0589 - accuracy: 0.9789
Epoch 18/50
203/203 [==============================] - 1s 4ms/step - loss: 0.0577 - accuracy: 0.9789
Epoch 19/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0587 - accuracy: 0.9790
Epoch 20/50
203/203 [==============================] - 1s 4ms/step - loss: 0.0586 - accuracy: 0.9793
Epoch 21/50
203/203 [==============================] - 1s 4ms/step - loss: 0.0566 - accuracy: 0.9785
Epoch 22/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0577 - accuracy: 0.9802
Epoch 23/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0569 - accuracy: 0.9807
Epoch 24/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0568 - accuracy: 0.9802
Epoch 25/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0566 - accuracy: 0.9796
Epoch 26/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0556 - accuracy: 0.9804
Epoch 27/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0560 - accuracy: 0.9793
Epoch 28/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0570 - accuracy: 0.9804
Epoch 29/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0552 - accuracy: 0.9801
Epoch 30/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0555 - accuracy: 0.9792
Epoch 31/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0567 - accuracy: 0.9787
Epoch 32/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0540 - accuracy: 0.9809
Epoch 33/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0543 - accuracy: 0.9802
Epoch 34/50
203/203 [==============================] - 1s 4ms/step - loss: 0.0550 - accuracy: 0.9799
Epoch 35/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0536 - accuracy: 0.9812
Epoch 36/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0543 - accuracy: 0.9801
Epoch 37/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0534 - accuracy: 0.9810
Epoch 38/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0536 - accuracy: 0.9795
Epoch 39/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0534 - accuracy: 0.9807
Epoch 40/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0533 - accuracy: 0.9809
Epoch 41/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0529 - accuracy: 0.9812
Epoch 42/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0536 - accuracy: 0.9785
Epoch 43/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0527 - accuracy: 0.9807
Epoch 44/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0524 - accuracy: 0.9807
Epoch 45/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0526 - accuracy: 0.9809
Epoch 46/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0527 - accuracy: 0.9812
Epoch 47/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0527 - accuracy: 0.9806
Epoch 48/50
203/203 [==============================] - 1s 3ms/step - loss: 0.0527 - accuracy: 0.9795
Epoch 49/50
203/203 [==============================] - 1s 4ms/step - loss: 0.0533 - accuracy: 0.9802
Epoch 50/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0519 - accuracy: 0.9795

in case to display the f1score, the last dense layer will have one unit and we will include the sigmoid activation & loss=tf.keras.losses.BinaryCrossentropy

In [ ]:

l0 = tf.keras.layers.Dense(units=4, input_shape=[8])
l1 = tf.keras.layers.Dense(units=16)
l2 = tf.keras.layers.Dense(units=16)
l3 = tf.keras.layers.Dense(64, activation='relu')
l4 = tf.keras.layers.Dense(1,activation='sigmoid')

model1 = tf.keras.Sequential([l0, l1, l2,l3,l4])
print('\n start *************************\n')
model1.compile(optimizer='adam',  loss=tf.keras.losses.BinaryCrossentropy(from_logits=True) ,metrics=['accuracy',f1_metric])#'accuracy',tf.keras.metrics.Precision(), tf.keras.metrics.Recall()])

history1 = model1.fit(X_train, y_train, epochs=50, verbose=True)

 start *************************

Epoch 1/50

/usr/local/lib/python3.9/dist-packages/keras/backend.py:5703: UserWarning: "`binary_crossentropy` received `from_logits=True`, but the `output` argument was produced by a Sigmoid activation and thus does not represent logits. Was this intended?
  output, from_logits = _get_logits(

203/203 [==============================] - 3s 6ms/step - loss: 0.2594 - accuracy: 0.9049 - f1_metric: 0.7801
Epoch 2/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0964 - accuracy: 0.9640 - f1_metric: 0.9182
Epoch 3/50
203/203 [==============================] - 1s 7ms/step - loss: 0.0800 - accuracy: 0.9719 - f1_metric: 0.9382
Epoch 4/50
203/203 [==============================] - 2s 8ms/step - loss: 0.0732 - accuracy: 0.9756 - f1_metric: 0.9471
Epoch 5/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0698 - accuracy: 0.9748 - f1_metric: 0.9458
Epoch 6/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0681 - accuracy: 0.9758 - f1_metric: 0.9428
Epoch 7/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0661 - accuracy: 0.9770 - f1_metric: 0.9514
Epoch 8/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0658 - accuracy: 0.9772 - f1_metric: 0.9494
Epoch 9/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0645 - accuracy: 0.9775 - f1_metric: 0.9499
Epoch 10/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0632 - accuracy: 0.9772 - f1_metric: 0.9497
Epoch 11/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0628 - accuracy: 0.9789 - f1_metric: 0.9549
Epoch 12/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0623 - accuracy: 0.9779 - f1_metric: 0.9485
Epoch 13/50
203/203 [==============================] - 1s 7ms/step - loss: 0.0629 - accuracy: 0.9775 - f1_metric: 0.9513
Epoch 14/50
203/203 [==============================] - 2s 8ms/step - loss: 0.0612 - accuracy: 0.9781 - f1_metric: 0.9512
Epoch 15/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0609 - accuracy: 0.9785 - f1_metric: 0.9464
Epoch 16/50
 29/203 [===>..........................] - ETA: 0s - loss: 0.0635 - accuracy: 0.9763 - f1_metric: 0.9504

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1609: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))

203/203 [==============================] - 1s 6ms/step - loss: 0.0601 - accuracy: 0.9789 - f1_metric: 0.9534
Epoch 17/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0614 - accuracy: 0.9776 - f1_metric: 0.9500
Epoch 18/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0610 - accuracy: 0.9787 - f1_metric: 0.9493
Epoch 19/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0595 - accuracy: 0.9799 - f1_metric: 0.9547
Epoch 20/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0599 - accuracy: 0.9789 - f1_metric: 0.9548
Epoch 21/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0598 - accuracy: 0.9793 - f1_metric: 0.9541
Epoch 22/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0599 - accuracy: 0.9789 - f1_metric: 0.9479
Epoch 23/50
203/203 [==============================] - 1s 7ms/step - loss: 0.0587 - accuracy: 0.9799 - f1_metric: 0.9533
Epoch 24/50
203/203 [==============================] - 2s 8ms/step - loss: 0.0592 - accuracy: 0.9787 - f1_metric: 0.9512
Epoch 25/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0595 - accuracy: 0.9790 - f1_metric: 0.9552
Epoch 26/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0590 - accuracy: 0.9792 - f1_metric: 0.9534
Epoch 27/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0583 - accuracy: 0.9798 - f1_metric: 0.9548
Epoch 28/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0600 - accuracy: 0.9787 - f1_metric: 0.9537
Epoch 29/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0587 - accuracy: 0.9796 - f1_metric: 0.9547
Epoch 30/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0586 - accuracy: 0.9798 - f1_metric: 0.9551
Epoch 31/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0574 - accuracy: 0.9802 - f1_metric: 0.9565
Epoch 32/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0590 - accuracy: 0.9790 - f1_metric: 0.9521
Epoch 33/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0587 - accuracy: 0.9779 - f1_metric: 0.9524
Epoch 34/50
203/203 [==============================] - 2s 8ms/step - loss: 0.0580 - accuracy: 0.9789 - f1_metric: 0.9559
Epoch 35/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0578 - accuracy: 0.9795 - f1_metric: 0.9582
Epoch 36/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0590 - accuracy: 0.9789 - f1_metric: 0.9476
Epoch 37/50
 29/203 [===>..........................] - ETA: 0s - loss: 0.0483 - accuracy: 0.9849 - f1_metric: 0.9681

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1609: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))

203/203 [==============================] - 1s 6ms/step - loss: 0.0568 - accuracy: 0.9804 - f1_metric: 0.9577
Epoch 38/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0576 - accuracy: 0.9801 - f1_metric: 0.9565
Epoch 39/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0577 - accuracy: 0.9785 - f1_metric: 0.9526
Epoch 40/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0567 - accuracy: 0.9799 - f1_metric: 0.9544
Epoch 41/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0584 - accuracy: 0.9798 - f1_metric: 0.9547
Epoch 42/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0569 - accuracy: 0.9801 - f1_metric: 0.9568
Epoch 43/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0569 - accuracy: 0.9796 - f1_metric: 0.9568
Epoch 44/50
203/203 [==============================] - 2s 8ms/step - loss: 0.0567 - accuracy: 0.9795 - f1_metric: 0.9549
Epoch 45/50
203/203 [==============================] - 1s 7ms/step - loss: 0.0587 - accuracy: 0.9787 - f1_metric: 0.9561
Epoch 46/50
203/203 [==============================] - 1s 5ms/step - loss: 0.0566 - accuracy: 0.9792 - f1_metric: 0.9544
Epoch 47/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0560 - accuracy: 0.9787 - f1_metric: 0.9534
Epoch 48/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0572 - accuracy: 0.9793 - f1_metric: 0.9541
Epoch 49/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0563 - accuracy: 0.9802 - f1_metric: 0.9558
Epoch 50/50
203/203 [==============================] - 1s 6ms/step - loss: 0.0564 - accuracy: 0.9795 - f1_metric: 0.9548

In [ ]:
#test_loss,accuracy_val,press_vall,recall_press=model.evaluate(X_test, y_test)
#loss_test,acc_test,f1score=model.evaluate(X_test, y_test)
loss_test,acc_test=model.evaluate(X_test, y_test)
loss_test,acc_test,f1score=model1.evaluate(X_test, y_test)

51/51 [==============================] - 0s 2ms/step - loss: 0.0681 - accuracy: 0.9815

/usr/local/lib/python3.9/dist-packages/keras/backend.py:5703: UserWarning: "`binary_crossentropy` received `from_logits=True`, but the `output` argument was produced by a Sigmoid activation and thus does not represent logits. Was this intended?
  output, from_logits = _get_logits(

51/51 [==============================] - 1s 5ms/step - loss: 0.0666 - accuracy: 0.9741 - f1_metric: 0.9398

In [ ]:
data_test = pd.read_csv('/content/gym_test.csv')
X=data_test.drop(['Row','Zipcode','Registration','Exited' ], axis=1)

X = (X-np.mean(X,axis=0))/np.std(X)
X

,Age,Partner_company,Friend_promo,Contract_period,Lifetime,Class_registration_weekly,Avg_additional_charges_total,Cancellation_freq
0,-0.278802,-0.970437,0.932287,-0.199986,-0.869719,-1.019511,0.838731,-0.976618
1,-0.177604,1.030464,-1.072631,1.043453,1.282163,-0.344613,-0.211523,-0.256664
2,1.137980,1.030464,0.932287,-1.236186,-0.869719,-0.474856,-1.372797,-0.184668
3,-0.076405,-0.970437,0.932287,1.043453,0.206222,-1.718090,0.648855,-1.048613
4,-1.088392,-0.970437,0.932287,1.043453,2.358104,-0.391974,-0.317380,-0.112673
...,...,...,...,...,...,...,...,...
195,-0.481200,1.030464,-1.072631,-1.236186,-0.511072,2.023452,0.168230,-0.184668
196,0.733185,-0.970437,0.932287,1.043453,1.640810,-0.770864,0.470845,-1.048613
197,-0.582399,-0.970437,-1.072631,-1.236186,-0.869719,-0.072285,-2.013274,1.111249
198,-0.076405,-0.970437,-1.072631,-1.236186,-0.869719,-0.226209,-2.170100,0.391295
199,-0.683597,-0.970437,0.932287,-1.236186,1.640810,-0.320932,1.354958,-1.048613

In [ ]:
predictions=model.predict(X)
#predictions=tf.round(predictions)
predictions=np.argmax(predictions,axis=-1)                 

#predictions = tf.cast(tf.round(predictions + 0.3), dtype=tf.int32)
predictions

7/7 [==============================] - 0s 2ms/step

array([0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0])

In [ ]:
data_test['Exited']=predictions
#data_test

In [ ]:
data_test.to_csv('gym_test_best.csv', index=False)
data_test = pd.read_csv('/content/gym_test_best.csv')
data_test

,Row,Registration,Zipcode,Age,Partner_company,Friend_promo,Contract_period,Lifetime,Class_registration_weekly,Avg_additional_charges_total,Cancellation_freq,Exited
0,1001,2006682,29941,36,0,1,6,2,0.72,225.666667,0.01,0
1,1002,2008504,57328,37,1,0,12,8,1.29,166.666667,0.11,0
2,1003,2020638,33726,50,1,1,1,2,1.18,101.430000,0.12,1
3,1004,2021568,29941,38,0,1,12,5,0.13,215.000000,0.00,0
4,1005,2028557,33726,28,0,1,12,11,1.25,160.720000,0.13,0
...,...,...,...,...,...,...,...,...,...,...,...,...
195,1196,2975983,57328,34,1,0,1,3,3.29,188.000000,0.12,0
196,1197,2976461,57328,46,0,1,12,9,0.93,205.000000,0.00,0
197,1198,2985140,29941,33,0,0,1,2,1.52,65.450000,0.30,1
198,1199,2993255,29941,38,0,0,1,2,1.39,56.640000,0.20,1
199,1200,2999606,57328,32,0,1,1,9,1.31,254.666667,0.00,0